name: places-env github action example

on:
  workflow_dispatch:

jobs:
  generate-prod-env:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Hash a file
        run: |
          file_to_hash="./.places/keys/prod"
          file_hash=$(sha256sum "$file_to_hash" | awk '{print $1}')
          echo "File Hash: $file_hash"

      - name: places-env
        uses: marckrenn/places-env-gha@v1.0.0
        with:
          version: "latest"
          keys: |
            prod: prod
          generate: prod

      - name: Hash a file
        run: |
          file_to_hash="./.places/keys/prod"
          file_hash=$(sha256sum "$file_to_hash" | awk '{print $1}')
          echo "File Hash: $file_hash"
      
      - name: Print prod key
        run: |
          echo "Prod key: ${{ vars.PROD_KEY }}"
          cat .places/keys/prod || echo "No prod key file found."
          cat ./.places/keys/prod || echo "No prod key file found."
          ls ./.places/keys || echo "No .places/keys directory found."

      - name: Print Generated Prod Environment file
        run: |
          echo "Printing contents of prod environment file:"
          cat .env.prod || echo "No prod environment file found."