name: places-env github action example

on:
  workflow_dispatch:

jobs:
  generate-prod-env:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: places-env
        uses: marckrenn/places-env-gha@v1.0.0
        with:
          version: "latest"
          keys: |
            prod: ${{ vars.PROD_KEY }}
          generate: prod
      
      - name: Print prod key
        run: |
          echo "Prod key: ${{ vars.PROD_KEY  }}"
          cat ./.places/keys/prod || echo "No prod key file found."

      - name: Print Generated Prod Environment file
        run: |
          echo "Printing contents of prod environment file:"
          cat .env.prod || echo "No prod environment file found."